@import "tailwindcss";

@theme {
  --animate-scan: scan 2s ease-in-out infinite;

  @keyframes scan {
    0% { transform: translateY(0); }
    50% { transform: translateY(100%); }
    100% { transform: translateY(0); }
  }
}

@layer base {
  :root {
    --background: #0B1120;
    --foreground: #f8fafc;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
